{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 120,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "bracketSameLine": true,
    "vueIndentScriptAndStyle": true,
    "singleAttributePerLine": false,
    "overrides": [
        {
            "files": "todo.md",
            "options": {
                "parser": "none"
            }
        }
    ]
}
